<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <span class="user-icon" *ngIf="username">{{ usernameFirstLetter}}</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <button class="btn cursor-pointer scale-on-hover">
          <a class="nav-link cursor-pointer text-white " (click)="logout()">Sign Out</a>
        </button>
      </li>
    </ul>
  </div>
</nav>
